@import "../../../Styles/Mixins";
@import "../../../Styles/Variables";

.header__intouch {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;

  @media (min-width: 768px) {
    width: 33%;
    max-width: 360px;
  }

  @media (min-width: 1200px) {

  }
}

.header__intouch-title {
  margin-bottom: 35px;
  @include title-small;
}

.header__intouch-links {
  margin-bottom: 15px;
}

.header__intouch-email {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
  text-decoration: underline;
  &:hover {
    color: #46b6ec;
  }

  &:active {
    color: #f4adaa;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    text-align: left;

  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}