@import "Mixins.module";
@import "Variables.module";


// /COMMON STYLES











// YELLOW LINES UNDER TITELS










// Page navigation
/*#page-nav {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    position: fixed;
    right: 50px;
    top: 50%;
    z-index: 100;
  }
}

#page-nav li {
  width: 12px;
  height: 12px;
  background-color: $yellow-main;
  border-radius: 6px;
  margin-bottom: 15px;
  transition: all .2s ease-in;
}

#page-nav li a {
  display: block;
  outline: none;

  height: 100%;
}

#page-nav li.active {
  background-color: $blue-main;
}*/

// /Page navigation

// HOVERS FOR HEADER ICONS



// /HOVERS FOR HEADER ICONS

// BUTTONS


// /BUTTONS

// NO SCROLL

// /NO SCROLL

// OVERLAY WHEN MOBILE MENUE IS OPEN

// /OVERLAY WHEN MOBILE MENUE IS OPEN

// Fixesed navigation on top



//  /Fixesed navigation on top

// Error message in a form




// Thank you message
