$red-main: #ea736d;
$blue-main: #039be5;
$yellow-main: #fbdc4d;

$background-grey: #f4f8f9;

// TECH COLORS

$color-html:#ff861a;
$color-css:#039be5;
$color-bootstrap:#a062c7;
$color-js:#ffd200;
$color-jquery:#044d85;
$color-php:#777bb4;
$color-react:#5ed3f3;
$color-redux:#7247b5;

$color-axios: #052a67;
$color-storybook:#7247b5;
$color-jest:#f74581;
$color-webpack:#8acef2;
$color-typescript: #2b7489;
$color-node-js: #73b05b;
$color-styled-components: #f89bdf;



