$red-main: #ea736d;
$blue-main: #039be5;
$yellow-main: #fbdc4d;

$background-grey: #f4f8f9;

// TECH COLORS

$color-html:#ff861a;
$color-css:#039be5;
$color-bootstrap:#a062c7;
$color-js:#ffd200;
$color-jquery:#044d85;
$color-php:#777bb4;



