
@import "../../Styles/Mixins";
@import "../../Styles/Variables";

.header__navigation {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation-logo {
  display: flex;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 900;
  a {
    color: #000;
  }
}

.header__navigation-block {
  padding: 100px 20px 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-width: 320px;
  background-color: #fff;
  z-index: 20;
  //transform: translateX(100%);
  transition: all .5s ease-in;

  @media (min-width: 992px) {
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    max-width: unset;
    height: unset;
    background-color: transparent;
    transform: translateX(0%);
  }
}

.header__navigation-block > .intouch-block{
  justify-content: space-between;
}

.header__navigation-language {
  margin-right: 100px;
  display: none;
  justify-content: center;
  align-items: center;

  a {
    margin-left: 20px;
  }

  @media (min-width: 992px) {
    display: flex;
  }
}

.header__navigation-language--mobile {
  margin-right: 0;
  display: flex;
  justify-content: flex-start;

  @media (min-width: 992px) {
    display: none;
  }
}

.header__naviation-email {
  margin-top: 20px;
}

.header__navigation-block.active {
  transform: translateX(0%);

}

.header__navigation-list {
  @media (min-width: 992px) {
    display: flex;
  }
}

.header__navigation-list-item {
  margin-right: 80px;
  margin-bottom: 25px;
  width: fit-content;
  position: relative;
  font-size: 20px;

  a {
    font-weight: 700;
    color: #000;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: $yellow-main;
    transition: all .2s ease-in;
    z-index: 1;
  }

  &:hover::before {
    width: 120%;
    left: -5px;
  }

  @media (min-width: 992px) {
    margin-bottom: 0;
  }

}

.header__navigation-icons {
  display: none;

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {
    display: flex;
  }
}

.header__navigation--intouch {
  margin-bottom: 20px;

  @media (min-width: 992px) {
    display: none;
  }
}

.header__navigation-icon {
  margin-right: 20px;
  a {
    display: block;
    color: #000;
  }

  &:last-child {
    margin-right: 0;
  }
}


//Mobile navigation

.header__burger-wrap {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 25;

  @media (min-width: 992px) {
    display: none;
  }
}

.burgerMenuCommon {
  position: relative;
  top: -5px;
  left: 0;
  width: 35px;
  height: 3px;
  border-radius: 2px;
  background: black;
  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 35px;
    height: 3px;
    border-radius: 2px;
    background: black;
  }
  z-index: 35;
}

.burgerMenuClose {
  display: inline-block;
  &::before {
    top: -8px;
    transition: all .1s ease;

  }
  &::after {
    top: 8px;
    transition: all .1s ease;

  }
}


.burgerMenuOpen {
  display: inline-block;
  background-color: transparent;
  &::before {
    transform: rotate(45deg);
    top: 0;
    transition: all .1s ease;

  }
  &::after {
    transform: rotate(-45deg);
    top: 0;
    transition: all .1s ease;

  }
}


