@import "../../Styles/Mixins";
@import "../../Styles/Variables";

.header {
  padding: 15px 0 95px;
  margin: 0 auto;
  max-width: 1600px;
  //background-image: url(../img/backgrounds/lines.jpg);
  background-size: contain;
  background-position: center bottom;
  background-repeat: repeat;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 30px 0 80px;
  }

  @media (min-width: 1200px) {
    padding: 70px 0 240px;
  }
}

.header__content-wrapper {
  padding-top: 30px;
  position: relative;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-between;
  z-index: 5;
  @media (min-width: 768px) {
    padding-top: 70px;
    flex-flow: row nowrap;
  }

  @media (min-width: 1200px) {
    padding-top: 153px;
  }
}

.header__content-description {
  width: 100%;
  max-width: 450px;
  @media (min-width: 768px) {
    width: 50%;
    max-width: 585px;

  }

  @media (min-width: 1200px) {
  }
}

.header__title {
  margin-bottom: 27px;
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
  @media (min-width: 768px) {
    font-size: 52px;
  }

  @media (min-width: 1200px) {
    font-size: 90px;
  }

  br {
    display: none;
    @media (min-width: 768px) {
      display: inline-block;
    }

    @media (min-width: 1200px) {

    }
  }
}

.header__content-description p {
  margin-bottom: 36px;
  max-width: unset;
  @include big-paragraph;
  font-weight: 700;
  @media (min-width: 768px) {

  }

  @media (min-width: 1200px) {
    max-width: 54ch;
  }
}

.header__btn {
  display: none;
  @media (min-width: 768px) {

  }

  @media (min-width: 1200px) {
    display: inline-block;
  }
}

.header__content-photo {
  margin: 0 auto 50px;
  width: 100%;
  max-width: 460px;
  overflow: hidden;
  z-index: 2;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 41%;
  }

  @media (min-width: 1200px) {
    max-height: 415px;
  }
}

.header__content-photo-back {
  display: none;
  position: absolute;
  bottom: -145px;
  right: -139px;
  width: 477px;
  height: 410px;
  background-image: -moz-linear-gradient( 90deg, rgb(244,248,249) 0%, rgba(244,248,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(244,248,249) 0%, rgba(244,248,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(244,248,249) 0%, rgba(244,248,249,0) 100%);
  opacity: 0.502;
  z-index: 1;
  @media (min-width: 768px) {

  }

  @media (min-width: 1200px) {
    display: block;
  }
}

.header__image {
  position: relative;
  max-width: 1600px;
  z-index: 1;
  transform: scale(1.3);

  @media (min-width: 768px) {
    margin-top: -70px;
    transform: scale(1);

  }
}

// MY SKILS SECTION

.header__my-skils-wrapper {
  padding-top: 100px;
  margin-top: -100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-flow: row nowrap;
  }

}

.header__my-skils-title {
  margin-bottom: 35px;
  @include title-small;
}

.header__my-skils-lists {
  margin-bottom: 40px;
}

.header__my-skils-list {
  padding-left: 0;
  margin-bottom: 15px;
  position: relative;
  font-weight: 400;
  line-height: 1.5;
  @include big-paragraph;
  &::after {
    content: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: #333;
    @media (min-width: 768px) {

    }

    @media (min-width: 1200px) {
      content: '';
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    padding-left: 32px;
  }
}

.header__my-skils-btn {
  display: none;
  @include color-btn;

  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    display: inline-block;
  }
}

.header__intouch {
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: 768px) {
    width: 33%;
    max-width: 360px;
  }

  @media (min-width: 1200px) {

  }
}

.header__intouch-title {
  margin-bottom: 35px;
  @include title-small;
}

.header__intouch-links {
  margin-bottom: 15px;
}

.header__intouch-email {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
  text-decoration: underline;
  &:hover {
    color: #46b6ec;
  }

  &:active {
    color: #f4adaa;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    text-align: left;

  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}